<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>EKCWZEN8CwNoIqgpmGMsSYBoZZXQr59zqFRKoyyJxXavdzSWGG</string>
	<key>API_SECRET</key>
	<string>kgGNZFeEQsAhyHcGZExvRXBtWLCj6qLwA9Jx1UB1</string>
</dict>
</plist>
