<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>f7hUfK2AAXwpDwENr1jADlDlgA2ZuK2Tih5gP5XRpsE8rddhCZ</string>
	<key>API_SECRET</key>
	<string>OeCf9Kerxgfy5xkAaSA4hzSi2NAlO04wDsBHaH1y</string>
</dict>
</plist>
